<% provide(:title, 'Topics Available') %>

<!--<h2><%= link_to "Create New Topic", new_topic_path %></h2>-->

<h3> Select Topic to display Statistics</h3>

<ul class="topics">
  <% @topics.each do |topic| %>
    <li>
    <%= link_to topic.name, display_stats_url(:topic_to_display => topic.id) %>
    </li>
  <% end %>
</ul>
</li>
<br>
<font size = "+2"> <%= link_to "Display All Statistics", display_stats_url(:topic_to_display => 'all') %> </font>