<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  By <a href="mailto:naidu777@tamu.edu">Team CodeGreen</a>:
  <div style="padding:10px">
  Janardhana Swamy Adapa<br/>
  John Mathai Reji<br/>
  Raja Aarif<br/>
  Projna Paromita<br/>
  Nipun Nath<br/>
  Venkata Naidu Marineni<br/>
  </div>
</p>