<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Us:
  <a href="mailto:naidu777@tamu.edu">Team AvengersTheSEgame</a><br />
  Bug Report:
  <a href="mailto:naidu777@tamu.edu">naidu777@tamu.edu</a>
</p>